<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947610491139-rf61urk3khljidtrsg550hlkkhqq8e1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947610491139-rf61urk3khljidtrsg550hlkkhqq8e1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDkEfCjXAnLWRdssr297P1IOosCgO6hqG0</string>
	<key>GCM_SENDER_ID</key>
	<string>947610491139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joshua-Chang.Fits</string>
	<key>PROJECT_ID</key>
	<string>fits-9c416</string>
	<key>STORAGE_BUCKET</key>
	<string>fits-9c416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947610491139:ios:e4a9573b71d85746ac7136</string>
</dict>
</plist>